<app-header></app-header>
<div>
  <div class="fields-middle">

      <img class="icon center-logo" src="images\delete-profile.png"/>
      <p class="text-middle-check-night">PROFIL LÖSCHEN</p>
  </div>
  <div>
    <table border="0" width="100%">
      <tr>
        <td align="right" width="500" class="fontPassword">PASSWORT</td>
        <td align="center" width="300">  <input type="password" id="passwordField" class="field"/></td>
        <td  width="500" rowspan="3"></td>
      </tr>
    </table>
    <div align="center" class="buttons" lass="fields-middle" >
      <table border = "0">
      <tr >
        <th><button routerLink='/index' class="button cancel">ABBRECHEN</button>
        </th>
        <th><button type="submit" class="check-night-button2" (click)="deleteAccount()">LÖSCHEN</button>
        </th>
      </tr>
      </table>
    </div>
  </div>
</div>
<app-pop-up-advice [(visible)]="popUpService.advice.show"></app-pop-up-advice>
<app-pop-up-confirmation [(visible)]="popUpService.confirmation.show"></app-pop-up-confirmation>
<app-pop-up-warning [(visible)]="popUpService.warning.show"></app-pop-up-warning>
