<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/header/header.component.css">
<link rel="stylesheet" type="text/css" href="/app/style.css">
</head>
<body class="flex-container">
  <section class="left">
    <!-- Kapitelübersicht --->
    <div (mouseover)="setDdVisible(0)" (mouseleave)="setDdUnvisible(0)" class="dropdown flex-button" id="chapters" >
      <section *ngIf="visibleArray[0]" class="upper-arrow-white"></section>
      <section *ngIf="visibleArray[0]" class="upper-arrow-blue"></section>
      <div class="dropdown-content" id="dropdown-chapters">
        <section class="dropdown-first" >
            <img src="/images/confirmation.png" class="dropdown-first-icon"/>
            <div class="dropdown-first-headline" >
              <p>CHECK!<br>Kompetenzliste</p>
            </div>

        </section>
        <section class="dropdown-scroll" id="leftbox" >
          <a (click)="loadChapter(1)" class="ch00 ch01">DAS BIN ICH!</a>
          <a (click)="loadChapter(2)" class="ch00 ch02">ICH UND DIE ANDEREN</a>
          <a (click)="loadChapter(3)" class="ch00 ch03">DIE WELT UM MICH HERUM</a>
          <a (click)="loadChapter(4)" class="ch00 ch04">ICH WERDE SELBSTSTÄNDIG</a>
          <a (click)="loadChapter(5)" class="ch00 ch05">SICH BEWEGEN</a>
          <a (click)="loadChapter(6)" class="ch00 ch06">LERNEN</a>
          <a (click)="loadChapter(7)" class="ch00 ch07">ARBEITEN</a>
          <a (click)="loadChapter(8)" class="ch00 ch08">GESTALTEN UND ERSCHAFFEN</a>
          <a (click)="loadChapter(9)" class="ch00 ch09">SPRECHEN</a>
          <a (click)="loadChapter(10)" class="ch00 ch10">FREMDSPRACHE</a>
          <a (click)="loadChapter(11)" class="ch00 ch11">LESEN</a>
          <a (click)="loadChapter(12)" class="ch00 ch12">SCHREIBEN</a>
          <a (click)="loadChapter(13)" class="ch00 ch13">MESSEN</a>
          <a (click)="loadChapter(14)" class="ch00 ch14">LÖSUNGEN FINDEN</a>
          <a (click)="loadChapter(15)" class="ch00 ch15">ZÄHLEN UND RECHNEN</a>
          <a (click)="loadChapter(16)" class="ch00 ch16">FORM UND RAUM ENTDECKEN</a>
        </section>
      </div>
    </div>
    <!-- Förderplan --->
    <div (mouseover)="setDdVisible(1)" (mouseleave)="setDdUnvisible(1)" class="dd" class="dropdown flex-button" id="educational-plan">
          <section *ngIf="visibleArray[1]" class="upper-arrow-white"></section>
          <section *ngIf="visibleArray[1]" class="upper-arrow-blue"></section>
      <div class="dropdown-content" id="dropdown-educational-plan">
        <section class="dropdown-first">
          <img src="/images/educationalPlan-big.png" class="dropdown-first-icon"/>
          <p class="dropdown-first-headline">
            DU HAST {{bodyDynamics.edPlans.count}}<br>FÖRDERPLÄNE.
          </p>
        </section>
        <a *ngFor="let cont of bodyDynamics.edPlans.plans" (click)="loadEducationPlan(cont['_id'])">{{cont.name}}</a>
      </div>
    </div>
    <!-- das kann ich --->
    <div (mouseover)="setDdVisible(2)" (mouseleave)="setDdUnvisible(2)" class="dropdown flex-button" id="achieved-competences">
      <section *ngIf="visibleArray[2]" class="upper-arrow-white"></section>
      <section *ngIf="visibleArray[2]" class="upper-arrow-blue"></section>
      <div class="dropdown-content" id="dropdown-achieved-competences">
        <section class="dropdown-first">
            <img src="/images/achievedCompetences-big.png" class="dropdown-first-icon" />
            <p class="dropdown-first-headline">
              DAS<br>KANN<br>ICH
            </p>

        </section>
        <section class="dropdown-scroll">
          <a href="#" class="ch00 ch00">ALLE KOMPETENZEN</a>
            <a (click)="loadCompetences(1)" class="ch00 ch01">DAS BIN ICH!</a>
            <a (click)="loadCompetences(2)" class="ch00 ch02">ICH UND DIE ANDEREN</a>
            <a (click)="loadCompetences(3)" class="ch00 ch03">DIE WELT UM MICH HERUM</a>
            <a (click)="loadCompetences(4)" class="ch00 ch04">ICH WERDE SELBSTSTÄNDIG</a>
            <a (click)="loadCompetences(5)" class="ch00 ch05">SICH BEWEGEN</a>
            <a (click)="loadCompetences(6)" class="ch00 ch06">LERNEN</a>
            <a (click)="loadCompetences(7)" class="ch00 ch07">ARBEITEN</a>
            <a (click)="loadCompetences(8)" class="ch00 ch08">GESTALTEN UND ERSCHAFFEN</a>
            <a (click)="loadCompetences(9)" class="ch00 ch09">SPRECHEN</a>
            <a (click)="loadCompetences(10)" class="ch00 ch10">FREMDSPRACHE</a>
            <a (click)="loadCompetences(11)" class="ch00 ch11">LESEN</a>
            <a (click)="loadCompetences(12)" class="ch00 ch12">SCHREIBEN</a>
            <a (click)="loadCompetences(13)" class="ch00 ch13">MESSEN</a>
            <a (click)="loadCompetences(14)" class="ch00 ch14">LÖSUNGEN FINDEN</a>
            <a (click)="loadCompetences(15)" class="ch00 ch15">ZÄHLEN UND RECHNEN</a>
            <a (click)="loadCompetences(16)" class="ch00 ch16">FORM UND RAUM ENTDECKEN</a>
        </section>
      </div>
    </div>
  </section>
  <section class="logo">
    <img src="images\logo.png">
  </section>
  <section class="right">
    <!--- Profilmenue --->
  <div (mouseover)="setDdVisible(3)" (mouseleave)="setDdUnvisible(3)" class="dropdown flex-button-student">
    <section *ngIf="visibleArray[3]" class="upper-arrow-white"></section>
    <section *ngIf="visibleArray[3]" class="upper-arrow-blue"></section>
    <button (mouseover)="changeProfileBackgroundImage(avatarPictures[avatarID], true)"
            (mouseleave)="changeProfileBackgroundImage(avatarPictures[avatarID], false)"
            [style.backgroundImage]="profileBackgroundImage" class="button-picture-student">
    </button>
    <div class="dropdown-content" id="dropdown-profile">
      <section class="dropdown-first">
          <img [src]="'../../..'+profileHeaderImage" class="dropdown-first-icon" />
          <p class="dropdown-first-headline">
            {{headerdaten["forename"]}}<br>{{headerdaten["surname"]}}
          </p>
          <div class="dropdown-first-smalltext" id="birth">
            {{headerdaten["birth"]}}
          </div>
      </section>
      <a routerLink="/change-avatar">MEIN PROFILBILD ÄNDERN</a>
      <a routerLink="/change-password">MEIN PASSWORT ÄNDERN</a>
      <a routerLink="/delete-profile">MEIN PROFIL LÖSCHEN</a>
    </div>
  </div>
  <!--- Schulinfo --->
  <div (mouseover)="setDdVisible(4)" (mouseleave)="setDdUnvisible(4)" class="dropdown flex-button-student">
      <section *ngIf="visibleArray[4]" class="upper-arrow-white"></section>
      <section *ngIf="visibleArray[4]" class="upper-arrow-blue"></section>
      <button (mouseover)="changeSchoolBackgroundImage(headerdaten?.school, true)"
              (mouseleave)="changeSchoolBackgroundImage(headerdaten?.school, false)"
              [style.backgroundImage]="schoolBackgroundImage" class="button-picture-student"></button>
      <div *ngIf=visibleArray[4] class="dropdown-content" id="dropdown-school">
        <section class="dropdown-first">
          <img [src]="'../../..'+headerdaten?.school?.imageUrlBig" class="dropdown-first-icon" />
          <p id="schoolname" class="dropdown-first-headline" >
            {{headerdaten?.school?.name}}
          </p>
          <section class="dropdown-first-smalltext">
          {{headerdaten?.school?.address}}<br>
          {{headerdaten?.school?.country}}<br>
          {{headerdaten?.school?.email}}<br>
          {{headerdaten?.school?.telefon}}
        </section>
    </section>
    </div>
  </div>
  <!--- Klasseninfo --->
  <div (mouseover)="setDdVisible(5)" (mouseleave)="setDdUnvisible(5)" class="dropdown flex-button-student">
    <section *ngIf="visibleArray[5]" class="upper-arrow-white"></section>
    <section *ngIf="visibleArray[5]" class="upper-arrow-blue"></section>
    <button (mouseover)="changeGroupBackgroundImage(headerdaten?.studyGroups, true)"
            (mouseleave)="changeGroupBackgroundImage(headerdaten?.studyGroups, false)"
            [style.backgroundImage]="groupBackgroundImage" class="button-picture-student"></button>
      <div *ngIf=visibleArray[5] class="dropdown-content" id="dropdown-grade">
      <section class="dropdown-first">
          <img [src]='"../../../"+headerdaten?.studyGroups?.imageUrlBig' class="dropdown-first-icon" />
          <p class="dropdown-first-headline">
            KLASSE<br>{{headerdaten?.studyGroups?.class}}
          </p>
          <section class="dropdown-first-smalltext" >
          KLASSENLEHRER<br>{{headerdaten["formteacher"]}}
        </section>
      </section>
    </div>
  </div>
  <!--- Trennstrich --->
    <div class="split"></div>
    <!--- Hilfe --->
    <div (mouseover)="setDdVisible(6)" (mouseleave)="setDdUnvisible(6)" class="dropdown flex-button" id="help" >
      <section *ngIf="visibleArray[6]" class="upper-arrow-white"></section>
      <section *ngIf="visibleArray[6]" class="upper-arrow-blue"></section>
    <div *ngIf=visibleArray[6] class="dropdown-content" id="dropdown-help">
      <section class="dropdown-first">
          <img src="/images/help-big.png" class="dropdown-first-icon" />
          <p class="dropdown-first-headline">
            BRAUCHST<br>DU HILFE?
          </p>
      </section>
      <a href="http://www.check-lehrerzimmer.com/hilfe/erste-schritte/" target="_blank">SO GEHT´S!</a>
      <a href="http://www.check-lehrerzimmer.com/tutorial/" target="_blank">VIDEO-TUTORIALS</a>
      <a href="http://www.check-lehrerzimmer.com/faq/" target="_blank">HÄUFIG GESTELLTE FRAGEN</a>
      <a href="http://www.check-lehrerzimmer.com/contact/" target="_blank">KONTAKT</a>
    </div>
    </div>
    <!--- Logout --->
    <div (mouseover)="setDdVisible(7)" (mouseleave)="setDdUnvisible(7)" class="dropdown flex-button" id="logout" >
      <section *ngIf="visibleArray[7]" class="upper-arrow-white"></section>
      <section *ngIf="visibleArray[7]" class="upper-arrow-blue"></section>
    <div *ngIf=visibleArray[7] class="dropdown-content" id="dropdown-logout">
      <section class="dropdown-first">
          <img src="/images/logout-big.png" class="dropdown-first-icon" />
          <p class="dropdown-first-headline">
            MÖCHTEST DU<br>CHECK!<br>VERLASSEN?
          </p>
      </section>
      <a (click)="logout()">JA</a>
      <a href="#">NEIN</a>
    </div>
    </div>


  </section>
</body>
</html>
