body{
  position: fixed;
}
.flex-container {
    position: fixed;
    z-index: 2;
    direction: ltr;
    flex-flow: row;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #001a3a;
}
.flex-button{
    float: left;
    width: 40px;
    height: 40px;
    margin: 4px;
    margin-bottom: 8px;
    margin-top: 12px;
}
.flex-button-student{
  float: left;
  width: 40px;
  height: 40px;
  margin: 4px;
  margin-bottom: 8px;
  margin-top: 12px;
}
.button-picture-student{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
}

.left{
  width: 258px;
  justify-content: flex-start;
}
.logo{
  z-index: 1;
  text-align: center;
  justify-content: center;
  flex: 1;
  margin-top: 12px;
}
.right{
  justify-content: flex-end;
}

.split{
  float: left;
  display: inline-block;
  height: 30px;
  width: 1px;
  margin: 4px;
  margin-bottom: 8px;
  margin-top: 17px;
  border-left: solid #4565ad 1px;
}
.dropdown {
  z-index: 1;
    position: relative;
    display: inline-block;
}

.dropdown-content{
  display: none;
  position: fixed;
  background-color: white;
  min-width: 160px;
  border-top: solid blue 10px;
  border: solid white 2px;
  border-radius: 2px;
  margin-top: 58px;
  width:250px;
  overflow: hidden;
}
.dropdown-content a{
  text-align: left;
  font-family: Lato-Black;
  font-size: 13pt;
  color: #4565ad;
  padding: 5px;
  text-decoration: none;
  display: block;
  background-color: #001a3a;
  margin-top: 2px;
  border-radius: 2px;
}
.dropdown-content a:hover {
  background-color: #8da6d6;
  color: white;
  text-decoration: none;
}
.dropdown:hover .dropdown-content {
    display: block !important;
}
.dropdown-scroll{
  max-height: 420px;
  overflow-y: scroll;
  margin-right: -20px;
}

.dropdown-first {
  direction: ltr;
  flex-flow: row;
  background-color: #001a3a;
  min-height: 125px;
}
.dropdown-first-icon {
  float: left;
  width: 90px !important;
  margin-top: 7px;
  margin-left: 7px;
}
.dropdown-first-headline {
  font-family: Lato-Black;
  float: left;
  padding: 7px;
  text-align: left;
  font-size: 13pt;
  color: #4565ad;
  right: 20px;
}
.dropdown-first-smalltext {
  text-align: right;
  padding: 7px;
  font-size: 13pt;
  font-family: roboto-thin;
  color: white;
}
#birth{
  padding-top: 97px;
  white-space: nowrap;
}
#schoolname{
  width: 130px;
  word-break: normal;
  word-wrap: break-word;
}
#dropdown-chapters{
  left: 12px;
}
#dropdown-educational-plan {
    left: 60px;
}
#dropdown-achieved-competences {
    left: 108px;
}

#dropdown-profile {
    right: 213px;
    margin-top: 18px;
}

#dropdown-school {
    right: 165px;
    margin-top: 18px;
}

#dropdown-grade {
    right: 117px;
    margin-top: 18px;
}

#dropdown-help {
    right: 60px;
}

#dropdown-logout {
    right: 12px;
}

#chapters{
  margin-left: 12px;
  background-image: url(../images/chapterOverview-inactive.png);
}

#chapters:hover{
  background-image: url(../images/chapterOverview-active.png);
}

#educational-plan{
  background-image: url(../images/educationalPlan-inactive.png);
}

#educational-plan:hover{
  background-image: url(../images/educationalPlan-active.png);
}

#achieved-competences{
  background-image: url(../images/achievedCompetences-inactive.png);
}

#achieved-competences:hover{
  background-image: url(../images/achievedCompetences-active.png);
}

#help{
  background-image: url(../images/help-inactive.png);
}

#help:hover{
  background-image: url(../images/help-active.png);
}

#logout{
  margin-right: 12px;
  background-image: url(../images/logout-inactive.png);
}

#logout:hover{
  background-image: url(../images/logout-active.png);
}

.upper-arrow-white {
  display: inline-block;
  position: absolute;
  color: transparent;
  background-color: transparent;;
  width: 250px;
  border: 2px transparent;
  margin-left: 40px;
  z-index: 10;
  padding: 2px;
  padding-bottom: 0px;
}

.upper-arrow-white:after {
  content: '';
  display: block;
  z-index: 1;
  position: absolute;
  right: 260px;
  top: 33px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid white;
  border-left: 10px solid transparent;
}

.upper-arrow-blue {
  display: inline-block;
  position: absolute;
  color: transparent;
  background-color: transparent;
  width: 250px;
  border: 3px transparent;
  margin-left: 40px;
  z-index: 10;
  padding: 2px;
}

.upper-arrow-blue:after {
  content: '';
  display: block;
  z-index: 2;
  position: absolute;
  right: 260px;
  top: 35px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #001a3a;
  border-left: 10px solid transparent;
}
