<img class="header-picture" src="images\login\header.png" />
<div class="login-container">
  <input type="text" placeholder="BENUTZERNAME" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="field"/>
  <input type="password" placeholder="PASSWORT" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="field2"/>
  <label>
    <input type="checkbox" name="angemeldetBleiben" [(ngModel)]="savedLogin" [ngModelOptions]="{standalone: true}">
    angemeldet bleiben?
  </label>
  <button type="submit" (click)="login(username, password, savedLogin)" class="check-night-button">LOS!
  </button>
</div>
<div class="footer-container">
  <img class="center-logo" src="images\login\footer.png"/>
  <div>
    <p class="text-logo">edition 2016 dark night blue 1.0</p>
  </div>
  <div>
    <p class="text-description">CHECK! und CHECK! Lehrerzimmer sind Produkte des
      Raup&amp;Ritter Verlag und der OnWerk Softwareagentur Mannheim<br/>
      www.raupundritter.com  -  Kontakt  -  Impressum  -  Preise - Hilfe
    </p>
  </div>
</div>
