<img class="header-picture" src="images\login\header.png" />
<div class="login-container">
  <input type="email" placeholder="BENUTZERNAME" class="field"/>
  <input type="password" placeholder="PASSWORT" class="field2"/>
  <a routerLink='/index' type="submit" class="check-night-button" >LOS!</a>
  <p class="check-register">Sie möchten mit CHECK! arbeiten?<br/>
    <a class="check-register" href="google.de">Jetzt registrieren</a>
  </p>
</div>
<div class="footer-container">
  <img class="center-logo" src="images\login\footer.png"/>
  <div>
    <p class="text-logo">edition 2016 dark night blue 1.0</p>
  </div>
  <div>
    <p class="text-description">CHECK! und CHECK! Lehrerzimmer sind Produkte des
      Raup&amp;Ritter Verlag und der OnWerk Softwareagentur Mannheim<br/>
      www.raupundritter.com  -  Kontakt  -  Impressum  -  Preise - Hilfe
    </p>
  </div>
</div>
