.header-picture{
  width: 100%;
  max-width: 559px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.user-field{
  color : #8da6d6;
}
.login-container{
  display: flex;
  flex-direction: column;
  width: 350px;
  max-width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.check-register{
  text-align: center;
  font-family: Roboto-Thin;
  font-size: 13pt;
  color: #8da6d6;
}
.footer-container{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0px;
  width: 100%;
  flex-wrap: nowrap;
}
.text-logo{
  text-align: center;
  font-family: Roboto-Thin;
  margin: 0px;
  font-size: 9px;
  color: #001a3a;
}
.text-description{
  text-align: center;
  font-family: Roboto-Thin;
  font-size: 9pt;
  color: #8da6d6;

}
#link{
  text-decoration: none;
}

.field{
  height: 40px;
  border-radius: 5px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #d3ddf2;
}
.field2{
  height: 40px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #d3ddf2;
}
.check-night-button{
  text-align: center;
  height: 40px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  font-family: Lato-Black;
  text-decoration: none;
  font-size: 13pt;
  border: 2px solid #001a3a;
  border-radius: 5px;
  background-color: #001a3a;
  color: white;
  cursor: pointer;

}
.center-logo{

  margin-left: auto;
  margin-right: auto;
}
