.field{
  height: 40px;
  border-radius: 5px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #d3ddf2;
}
.check-night-button{
  height: 40px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 2px solid #001a3a;
  border-radius: 5px;
  background-color: #001a3a;
  color: white;
}
.text-middle-check-night{
  text-align: center;
  font-size: 20pt;
  color: #001a3a;
  margin-top: 12px;
  margin-bottom: 20px;
}
.fields-middle{
  z-index: -1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 100%;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.center-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.chapter-backgroundcolor{
  background-color: yellow;
}
.ch00{
  color: white !important;
}

.ch01{
  background-color: #79ab2e !important;
}

.ch01:hover{
  background-color: #a1c153 !important;
}

.ch02{
  background-color: #c6d54f !important;
}

.ch02:hover{
  background-color: #dbe283 !important;
}

.ch03{
  background-color: #94c122 !important;
}

.ch03:hover{
  background-color: #bad151 !important;
}

.ch04{
  background-color: #44b284 !important;
}

.ch04:hover{
  background-color: #7cc3a3 !important;
}

.ch05{
  background-color: #ffdd00 !important;
}

.ch05:hover{
  background-color: #ffea64 !important;
}

.ch06{
  background-color: #ffed98 !important;
}

.ch06:hover{
  background-color: #fff3d8 !important;
}

.ch07{
  background-color: #fbb900 !important;
}

.ch07:hover{
  background-color: #ffcf53 !important;
}

.ch08{
  background-color: #ef7d25 !important;
}

.ch08:hover{
  background-color: #f5a04c !important;
}

.ch09{
  background-color: #d60d66 !important;
}

.ch09:hover{
  background-color: #e35184 !important;
}

.ch10{
  background-color: #ea518d !important;
}

.ch10:hover{
  background-color: #ee7ba9 !important;
}

.ch11{
  background-color: #f29db7 !important;
}

.ch11:hover{
  background-color: #f7bed2 !important;
}

.ch12{
  background-color: #a62068 !important;
}

.ch12:hover{
  background-color: #c9427e !important;
}

.ch13{
  background-color: #008fc8 !important;
}

.ch13:hover{
  background-color: #4fa8da !important;
}

.ch14{
  background-color: #62c2d0 !important;
}

.ch14:hover{
  background-color: #94d3e5 !important;
}

.ch15{
  background-color: #004077 !important;
}

.ch15:hover{
  background-color: #005daa !important;
}

.ch16{
  background-color: #3873b9 !important;
}

.ch16:hover{
  background-color: #658bc8 !important;
}
