<app-header></app-header>
<div>
  <div class="fields-middle">
    <img class="icon center-logo" src="images\student\superhero-batman-big-active.png"/>
    <p class="text-middle-check-night">PROFILBILD ÄNDERN</p>
</div>

    <div align="center" class="buttons"  >
      <table border = "0">
        <tr>
    <th>  <button routerLink='/index' class="button cancel">ABBRECHEN</button>
    </th>

    <th>  <button type="submit" class="button save">SPEICHERN</button>
</th>
</tr>
</table>
    </div>
    <div align="center" class="buttons"  >
      <table border = "0">
        <tr>
    <th>  <button routerLink='/index' class="button cancel">ABBRECHEN</button>
    </th>

    <th>  <button type="submit" class="button save">SPEICHERN</button>
</th>
</tr>
</table>
    </div>
</div>
